hello.py

In [1]:
print("Hello,World!")

Hello,World!

Python Syntax

In [4]:
#intentation
if 5 > 2:
    print("Five is Greater than two!")

Five is Greater than two!

Variables

In [6]:
#Creating Variables
x = 5
y = "Hello, World!"
print(x)
print(y)

5
Hello, World!

In [8]:
#This is comment.
print("Daris" + "Revanth")

DarisRevanth

In [10]:
#Creating Variables
x = 4       # x is of type int
x = "Sally" # x is now type of str
print(x)

Sally

In [12]:
#Casting
x = str(3)   # x will be '3'
y = int(3)   # y will be 3
z = float(3) # z will be 3.0

In [14]:
#Get the type
x = 5
y = "Daris"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [16]:
# Single or Double Quotes
x = "Daris"
# is the same as
x = 'Daris'

In [18]:
#Case-Sensitive
a = 4
A = "Sally"
# A will not overwrite a

# This will create two variables

Variable Names and Multi Words Variable Names:

In [47]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
"""
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"
"""

'\n#Illegal variable names:\n2myvar = "John"\nmy-var = "John"\nmy var = "John"\n'

In [22]:
#Camel Case
#Each word, except the first, starts with a capital letter:

myVariableName = "John"

#Pascal Case
#Each word starts with a capital letter:

MyVariableName = "John"

#Snake Case
#Each word is separated by an underscore character:

my_variable_name = "John"

Assign Multiple Values

In [24]:
# Many Values to Multiple Variables

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [26]:
# One Value to Multiple Variables

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [50]:
# Unpack a Collection

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

In [ ]:
# The Python print() function is often used to output variables.

x = "Python is awesome"
print(x)

In [31]:
#In the print() function, you output multiple variables, separated by a comma:

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

""" Notice the space character after "Python " and "is ", without them
 the result would be "Pythonisawesome"."""

Python is awesome

' Notice the space character after "Python " and "is ", without them\n the result would be "Pythonisawesome".'

In [33]:
# For numbers, the + character works as a mathematical operator:
x = 5 
y = 10
print(x + y)

15

In [35]:
# In the print() function, when you try to combine a string and a number with
# the + operator, Python will give you an error:
x = 5
y = "Dairs"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
""" The best way to output multiple variables in the print() function is to
separate them with commas,which even support different data types: """
x = 5
y = "Daris"
print(x, y)

5 Daris

Global Variables

In [52]:
#Create a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [54]:
# Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
    X = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is awesome
Python is awesome

In [43]:
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():
    global x
    x = "fuantastic"

myfunc()

print("Python is " + x)

Python is fuantastic

In [45]:
# to change the value of a global variable inside a function, refer to the 
# variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Data Types

In [59]:
# Built-in Data Types
#Python has the following data types built-in by default, in these categories:
"""
Text Type       : str
Numerical Types : int, float, complex
Sequence Types  : list, tuple, range
Mapping Type    : dict
Set Types       : set, frozenset
Boolean Type    : bool
Binary Types    : bytes, bytearray, memoryview
NoneType       : None Type
"""

'\nText Type       : str\nNumerical Types : int, float, complex\nSequence Types  : list, tuple, range\nMapping Type    : dict\nSet Types       : set, frozenset\nBoolean Type    : bool\nBinary Types    : bytes, bytearray, memoryview\nNoneType       : None Type\n'

In [69]:
# Step 1: Define all variables with various data types
a = "Hello World"
b = 20
c = 20.5
d = 1j
e = ["apple", "banana", "cherry"]
f = ("apple", "banana", "cherry")
g = range(6)
h = {"name": "John", "age": 36}
i = {"apple", "banana", "cherry"}
j = frozenset({"apple", "banana", "cherry"})
k = True
l = b"Hello"
m = bytearray(5)
n = memoryview(bytes(5))
o = None

# Step 2: Prepare lists of variable names and their corresponding values
variables = [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o]
names = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']

# Step 3: Collect all output lines in a string
output_str = ""
for name, var in zip(names, variables):
    output_str += f"{name} = {var}, type = {type(var)}\n"

# Step 4: Save output to a text file
with open("output.txt", "w") as file:
    file.write(output_str)

# Step 5: Print the output to the console
print(output_str)
print("Output has been saved to 'output.txt'")

a = Hello World, type = <class 'str'>
b = 20, type = <class 'int'>
c = 20.5, type = <class 'float'>
d = 1j, type = <class 'complex'>
e = ['apple', 'banana', 'cherry'], type = <class 'list'>
f = ('apple', 'banana', 'cherry'), type = <class 'tuple'>
g = range(0, 6), type = <class 'range'>
h = {'name': 'John', 'age': 36}, type = <class 'dict'>
i = {'apple', 'banana', 'cherry'}, type = <class 'set'>
j = frozenset({'apple', 'banana', 'cherry'}), type = <class 'frozenset'>
k = True, type = <class 'bool'>
l = b'Hello', type = <class 'bytes'>
m = bytearray(b'\x00\x00\x00\x00\x00'), type = <class 'bytearray'>
n = <memory at 0x00000287F26A7280>, type = <class 'memoryview'>
o = None, type = <class 'NoneType'>

Output has been saved to 'output.txt'

Python Numbers

In [73]:
# There are three numeric types in Python:

# int     = 1
# float   = 2.8
# complex = 3j

In [71]:
# Int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [75]:
# Float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [77]:
# Complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [79]:
"""
Type Conversion
"""
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [81]:
## Random Number

import random 
print(random.randrange(1,10))

7

In [93]:
## Python Casting - Integers

x = int(1)     # x will be 1
y = int(2.8)   # y will be 2 (converts float to int)
z = int("3")   # z will be 3 (converts string to int)

print(x, y, z)

1 2 3

In [97]:
## Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x, y, z)

1.0 2.8 3.0

In [101]:
## Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x, y, z)

s1 2 3.0

STRINGS

In [105]:
print("Hello")
print('Hello')

Hello
Hello

In [107]:
## Quotes Inside Quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [109]:
## Assign String to a Variable
a = "Hello"
print(a)

Hello

In [111]:
## Multiline Strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [113]:
## Strings are Arrays
a = "Hello, World!" #0123456789
print(a[1])

e

In [115]:
## Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [117]:
## String Length
a = "Hello, World!"
print(len(a))

13

In [119]:
## Check String
txt = "The best things in life are free!"
print("free" in txt)

True

In [121]:
#Use it in an if statement:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [123]:
#Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [125]:
# Use it in an if statement:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing Strings

In [127]:
##You can return a range of characters by using the slice syntax.
##Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

In [129]:
## Slice From the Start
b = "Darisrevanth"
print(b[:5])

Daris

In [131]:
## Slice To the End
b = "darisrevanth"
print(b[2:])

risrevanth

In [135]:
## Negative Indexing
#Get the characters:

#From: "v" in "World!" (position -5)

#To, but not included: "t" in "World!" (position -2):

b = "DarisRevanth"
print(b[-5:-2])

van

In [137]:
## Modify Strings
# Upper Case:
a = "darisrevanth"
print(a.upper())

DARISREVANTH

In [143]:
# Lower Case
a = "Daris Revanth"
print(a.lower())

daris revanth

In [147]:
# Remove Whitespace
a = " Daris Revanth"
print(a.strip())

Daris Revanth

In [149]:
# Replace String
a ="Daris Revanth"
print(a.replace("Daris", "Jiim"))

Jiim Revanth

In [151]:
# Split String
a = "Daris Revanth"
print(a.split())

['Daris', 'Revanth']

In [157]:
## String Concatenation
a = "Daris"
b = "Revanth"
c = a + b
print(c)

DarisRevanth

In [159]:
#To add a space between them, add a " ":
a = "Daris"
b = "Revanth"
c = a + " " + b
print(c)

Daris Revanth

In [165]:
# Format - Strings :
"""
As we learned in the Python Variables chapter, 
we cannot combine strings and numbers like this:

But we can combine strings and numbers by
 using f-strings or the format() method!
 """
# F-Strings

age = 35
txt = f"My name is Geetha, I am {age}"
print(txt)

My name is Geetha, I am 35

In [167]:
# Placeholders and Modifiers
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [173]:
# Display the price with 2 decimals:
price = 59
txt = f"The price is {price:.2f} dollars"
##.2f2f which means fixed point number with 2 decimals
print(txt)

The price is 59.00 dollars

In [175]:
## A placeholder can contain Python code, like math operations:
# Perform a math operation in the placeholder, and return the result:

txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [177]:
## Escape Characters
"""
You will get an error if you use double quotes inside a
 string that is surrounded by double quotes: 
To fix this problem, use the escape character \":
"""
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [187]:
# a - \' = Single Quote
print("a. Single Quote (\\'):")
print('   Example: It\'s a sunny day')  # Output: It's a sunny day
print()

# b - \\ = Backslash
print("b. Backslash (\\\\):")
print("   Example: This is a backslash: \\")
print()

# c - \n = New Line
print("c. New Line (\\n):")
print("   Example: First Line\n   Second Line")
print()

# d - \r = Carriage Return
print("d. Carriage Return (\\r):")
print("Hello\rWorld")  # May overwrite "Hello" depending on terminal
print()

# e - \t = Tab
print("e. Tab (\\t):")
print("   Example:\tTabbed text")
print()

# f - \b = Backspace
print("f. Backspace (\\b):")
print("   Example: ABC\bD")  # Output: ABD (B is removed)
print()

# g - \f = Form Feed
print("g. Form Feed (\\f):")
print("   Example: Hello\fWorld")  # May insert a page break or space
print()

# h - \ooo = Octal Value
print("h. Octal Value (\\ooo):")
print("   Example (Octal): \110\145\154\154\157")  # Output: Hello
print()

# i - \xhh = Hex Value
print("i. Hex Value (\\xhh):")
print("   Example (Hex): \x48\x65\x6c\x6c\x6f")  # Output: Hello
print()

a. Single Quote (\'):
   Example: It's a sunny day

b. Backslash (\\):
   Example: This is a backslash: \

c. New Line (\n):
   Example: First Line
   Second Line

d. Carriage Return (\r):
World

e. Tab (\t):
   Example:	Tabbed text

f. Backspace (\b):
   Example: ABD

g. Form Feed (\f):
   Example: HelloWorld

h. Octal Value (\ooo):
   Example (Octal): Hello

i. Hex Value (\xhh):
   Example (Hex): Hello

## String Methods

| Method         | Description                                                                 |
|----------------|-----------------------------------------------------------------------------|
| capitalize()   | Converts the first character to upper case                                  |
| casefold()     | Converts string into lower case                                             |
| center()       | Returns a centered string                                                   |
| count()        | Returns the number of times a specified value occurs in a string            |
| encode()       | Returns an encoded version of the string                                    |
| endswith()     | Returns true if the string ends with the specified value                    |
| expandtabs()   | Sets the tab size of the string                                             |
| find()         | Searches the string for a specified value and returns the position          |
| format()       | Formats specified values in a string                                        |
| format_map()   | Formats specified values in a string                                        |
| index()        | Searches the string for a specified value and returns the position          |
| isalnum()      | Returns True if all characters in the string are alphanumeric               |
| isalpha()      | Returns True if all characters in the string are in the alphabet            |
| isascii()      | Returns True if all characters in the string are ascii characters           |
| isdecimal()    | Returns True if all characters in the string are decimals                   |
| isdigit()      | Returns True if all characters in the string are digits                     |
| isidentifier() | Returns True if the string is an identifier                                 |
| islower()      | Returns True if all characters in the string are lower case                 |
| isnumeric()    | Returns True if all characters in the string are numeric                    |
| isprintable()  | Returns True if all characters in the string are printable                  |
| isspace()      | Returns True if all characters in the string are whitespaces                |
| istitle()      | Returns True if the string follows the rules of a title                     |
| isupper()      | Returns True if all characters in the string are upper case                 |
| join()         | Joins the elements of an iterable to the end of the string                  |
| ljust()        | Returns a left justified version of the string                              |
| lower()        | Converts a string into lower case                                           |
| lstrip()       | Returns a left trim version of the string                                   |
| maketrans()    | Returns a translation table to be used in translations                      |
| partition()    | Returns a tuple where the string is parted into three parts                 |
| replace()      | Returns a string where a specified value is replaced                        |
| rfind()        | Returns the last position of a specified value                              |
| rindex()       | Returns the last index of a specified value                                 |
| rjust()        | Returns a right justified version of the string                             |
| rpartition()   | Returns a tuple where the string is parted into three parts                 |
| rsplit()       | Splits the string at the specified separator, and returns a list            |
| rstrip()       | Returns a right trim version of the string                                  |
| split()        | Splits the string at the specified separator, and returns a list            |
| splitlines()   | Splits the string at line breaks and returns a list                         |
| startswith()   | Returns true if the string starts with the specified value                  |
| strip()        | Returns a trimmed version of the string                                     |
| swapcase()     | Swaps cases, lower case becomes upper case and vice versa                   |
| title()        | Converts the first character of each word to upper case                     |
| translate()    | Returns a translated string                                                 |
| upper()        | Converts a string into upper case                                           |
| zfill()        | Fills the string with a specified number of 0 values at the beginning       |