## Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [2]:
# Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates

Since tuples are indexed, they can have items with the same value:

In [4]:
# Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [8]:
## Tuple Length
# Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(len(thistuple))

5

In [10]:
## Create Tuple With One Item
# One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))
                         # Not a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [12]:
## Tuple Items - Data Types
# String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 2, 3, 5, 6, 9)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 2, 3, 5, 6, 9)
(True, False, False)

In [14]:
# A tuple can contain different data types:
# A tuple with strings, integers and boolean values:

tuple1 = ("Geetha", 35, True, 45, "Female")
print(tuple1)

('Geetha', 35, True, 45, 'Female')

In [16]:
## type()
# what is the data type of a tuple?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [20]:
## The tuple() Constructor
# Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) #  # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items

In [22]:
# Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [24]:
## Negative Indexing
# Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [26]:
## Range of Indexes
# Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [28]:
# This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [30]:
# This example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [32]:
## Range of Negative Indexes
# This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [34]:
## Check if Item Exists
# Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Update Tuples

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

In [36]:
## Change Tuple Value
# Convert the tuple into a list to be able to change it:

x = ("apple","banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [42]:
## Add Items
# 1.Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [48]:
##  Add tuple to a tuple.

thistuple = ("apple", "banana", "cherry")      ### Recomanded choice
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [46]:
## Remove Items
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

Unpack Tuples

In [50]:
# Packing a tuple:

fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [52]:
# Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [54]:
## Using Asterisk*
# Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [56]:
# Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples

Loop Through a Tuple

You can loop through the tuple items by using a for loop.

In [58]:
# Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [60]:
## Loop Through the Index Numbers
# Print all items by referring to their index number:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [64]:
## Using a While Loop
# Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

Join Tuples

In [66]:
## Join Two Tuples
# Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [68]:
## Multiply Tuples
# Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple Methods

Python has two built-in methods that you can use on tuples.
    
| Method    | Description                                                             |
| --------- | ----------------------------------------------------------------------- |
| `count()` | Returns the number of times a specified value occurs in a tuple         |
| `index()` | Searches the tuple for a specified value and returns its first position |

In [72]:
                                                              #----**************----#

## Sets

In [74]:
## Sets are written with curly brackets.
# Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

"Once a set is created, you cannot change its items, but you can remove items and add new items."

In [76]:
## Duplicates Not Allowed
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [80]:
# True and 1 is considered the same value:
""" The values True and 1 are considered the same value in sets, and are treated as duplicates:"""
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [82]:
# False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

In [84]:
## Get the Length of a Set
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [86]:
## Set Items - Data Types
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1, set2, set3)

{'apple', 'banana', 'cherry'} {1, 3, 5, 7, 9} {False, True}

In [88]:
## type()
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [90]:
## The set() Constructor
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

Access Set Items

You cannot access items in a set by referring to an index or a key.

In [92]:
## Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

apple
banana
cherry

In [94]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [96]:
# Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

Add Set Items

In [98]:
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [100]:
## Add Sets
# To add items from another set into the current set, use the update() method.

# Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'banana', 'cherry', 'apple', 'pineapple', 'mango'}

In [102]:
## Add Any Iterable
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'banana', 'cherry', 'apple', 'orange'}

Remove Set Items

In [3]:
# Remove(), discard() 

# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [5]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [13]:
# Remove a random item by using the pop() method:thisset.pop("banana")

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [15]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [19]:
# The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
del thisset  ## the Set Dsleted

Loop Sets

In [ ]:
## You can loop through the set items by using a for loop:

# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

Join Sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [23]:
## Union

#Join set1 and set2 into a new set:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [25]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [29]:
## Join Multiple Sets
# Join multiple sets with the union() method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2,set3,set4)
print(myset)

{'Elena', 1, 2, 3, 'bananas', 'c', 'a', 'cherry', 'apple', 'b', 'John'}

In [31]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'Elena', 1, 2, 3, 'bananas', 'c', 'a', 'cherry', 'apple', 'b', 'John'}

In [33]:
## Join a Set and a Tuple
# Join a set with a tuple:

x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

In [35]:
## Update
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [37]:
## Intersection
# Join set1 and set2, but keep only the duplicates:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [39]:
# Use & to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [43]:
# Keep the items that exist inboth set1, and set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [45]:
# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [47]:
## Difference
# Keep all items from set1 that are not in set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [49]:
## Use - to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [51]:
# Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [53]:
## Symmetric Differences
# Keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [55]:
# Use ^ to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

In [57]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'banana', 'google', 'microsoft'}

Set Methods

# ðŸ§® Set Methods

# Python has a set of built-in methods that you can use on sets. Below is a reference table with method names, shortcuts (if any), and their descriptions.

| **Method**                    | **Shortcut** | **Description**                                                               |
|-------------------------------|--------------|-------------------------------------------------------------------------------|
| `add()`                       |              | Adds an element to the set                                                    |
| `clear()`                     |              | Removes all the elements from the set                                         |
| `copy()`                      |              | Returns a copy of the set                                                     |
| `difference()`                | `-`          | Returns a set containing the difference between two or more sets              |
| `difference_update()`         | `-=`         | Removes the items in this set that are also included in another set           |
| `discard()`                   |              | Removes the specified item (no error if not present)                          |
| `intersection()`              | `&`          | Returns a set with elements common to all sets                                |
| `intersection_update()`       | `&=`         | Updates the set with the intersection of itself and another                   |
| `isdisjoint()`                |              | Returns whether two sets have no elements in common                           |
| `issubset()`                  | `<=`         | Returns whether all elements of this set are in another set                   |
| *(subset strict)*             | `<`          | Returns whether this set is a **strict** subset of another                    |
| `issuperset()`                | `>=`         | Returns whether this set contains all elements of another set                 |
| *(superset strict)*           | `>`          | Returns whether this set is a **strict** superset of another                  |
| `pop()`                       |              | Removes and returns an arbitrary element                                      |
| `remove()`                    |              | Removes the specified element (raises error if not present)                   |
| `symmetric_difference()`      | `^`          | Returns a set with elements in either set, but not both                       |
| `symmetric_difference_update()` | `^=`       | Updates the set with the symmetric difference of itself and another           |
| `union()`                     | `\|`         | Returns a set containing all elements from all sets                           |
| `update()`                    | `\|=`        | Updates the set with the union of itself and others                           |

> ðŸ”¹ **Note**: Some methods modify the original set (`update()`, `discard()`, etc.), while others return a new set (`union()`, `difference()`, etc.).

                                                           #---**************---#